@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* font-family: 'Open Sans', sans-serif; */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  background: #fff;
  font-weight: 300;
  z-index: 10;
}

.navbar-home, .navbar-burger {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.navbar-burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-1px, -3px);
  -moz-transform: rotate(45deg) translate(-1px, -3px);
  -o-transform: rotate(45deg) translate(-1px, -3px);
  transform: rotate(45deg) translate(-1px, -3px);
}

.navbar-burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navbar-burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-1px, 3px);
  -moz-transform: rotate(-45deg) translate(-1px, 3px);
  -o-transform: rotate(-45deg) translate(-1px, 3px);
  transform: rotate(-45deg) translate(-1px, 3px);
}

.navbar-menu {
  display: none;
}

.line {
  display: block;
  width: 2rem;
  height: 2px;
  background: #000;
  margin: 6px;
  z-index: 10;
  transition: 0.3s ease-in-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.left-menu {
  display: none;
}

.left-description {
  position: relative;
}

.work-title {
  font-size: 1.3rem;
  padding: 1.2rem 0;
}

.container {
  padding: 16px;
  box-sizing: border-box;
  width: 100vw;
}

.about-container {
  padding: 80px 16px 120px;
  box-sizing: border-box;
  width: 100vw;
}

.main-page {
  padding-top: 80px;
}

#slideshow {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 72px 16px;
}

.main-image {
  position: absolute;
  max-height: 90vh;
  max-width: 90vw;
  top: 80px;
  right: 16px;
}

.work-image {
  max-height: 80vh;
  width: auto;
  max-width: 100%;
}

.small-image {
  display: block;
  width: 100%;
  max-width: 600px;
  padding-bottom: 56px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  padding-top: 72px;
}

.toggle-menu {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 20vh;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 9;
}

.toogle-menu-item {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
  padding: 2rem;
}

.bold {
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

.text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
}

.menu-item {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 3rem;
}

.active {
  font-weight: 600;
}

.icon {
  padding: 12px 0 2px;
}

label {
  padding: 2rem 0 1rem;
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

input {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.03);
  border: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: blue;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  background: rgba(0, 0, 0, 0.03);
  padding: 1rem;
  border: none;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.button {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 2rem 0;
  width: 100%;
}

@media only screen and (min-width: 1512px) {

  /* desktop */
  .navbar {
    top: auto;
    bottom: 0;
    height: 72px;
    font-size: 2rem;
    padding-bottom: 8px;
  }

  /* desktop */
  .navbar-home, .navbar-menu {
    display: block;
    padding: 24px 40px;
  }

  /* desktop */
  .navbar-menu {
    margin-left: 160px;
  }

  /* desktop */
  .navbar-burger {
    display: none;
  }

  /* desktop */
  .toggle-menu {
    display: none;
  }

  /* desktop */
  .main-page {
    float: right;
  }

  /* desktop */
  .container {
    padding: 0 40px 88px 40px;
    height: 100vh;
    max-width: 75vw;
    flex-grow: 1;
    z-index: 1;
  }

  /* desktop */
  .main-image, .work-image {
    top: 0;
    left: auto;
    width: auto;
    max-height: 100%;
    right: 40px;
    position: absolute;
  }

  /* desktop */
  .left-menu, .about-menu {
    display: block;
    position: fixed;
    top: 0;
    height: 50vh;
    padding-top: 40px;
    overflow: scroll;
  }

  /* desktop */
  .left-description {
    position: fixed;
    bottom: 88px;
    height: 20vh;
  }

  /* desktop */
  .flex-row {
    display: flex;
    width: 100vw;
    padding: 0;
  }

  /* desktop */
  .flex-column {
    display: flex;
    flex-direction: column;
    max-width: 25vw;
  }

  /* desktop */
  .menu-title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.8rem 0;
  }

  /* desktop */
  .work-description {
    line-height: 1.5rem;
  }

  /* desktop */
  .gradient-box {
    position: sticky;
    pointer-events: none;
    bottom: -4px;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8),rgba(255,255,255,1) );
  }

  /* desktop */
  .fade {
    opacity: 0.5;
  }

  /* desktop */
  .small-image {
    display: block;
    width: 600px;
    padding-bottom: 56px;
  }

  /* desktop */
  .about-container {
    padding: 56px 120px 200px 40px;
    max-width: 75vw;
  }


}
